aside.main-sidebar 
    section.sidebar 
        .user-panel 
            .pull-left.image 
                img(src='/adminlte/dist/img/haechan.jpg',alt='User Image').img-circle  
            .pull-left.info 
                p Namira Shifwah K 
                a(href='#') 
                    i.fa.fa-circle.text-success 
                    | Online 
        form(action='#',method='get').sidebar-form 
            .input-group 
                input(type='text', name='q',placeholder='Search...').form-control  
                span.input-group-btn 
                    button(type='submit', name='search')#search-btn.btn.btn-flat  
                        i.fa-fa-search 
        ul.sidebar-menu 
            li.header 
                | Main Navigation 
            li.treeview 
                a(href='#') 
                    i.fa.fa-dashboard 
                    span 
                        | Dashboard 
                    span.pull-right-container 
                        i.fa.fa-angle-left.pull-right
                    ul.treeview-menu 
                        li 
                            a(href='customers') 
                                i.fa.fa-users
                                | Customers
                        li 
                            a(href='motor') 
                                i.fa.fa-motorcycle 
                                | Data Motor
                         li 
                            a(href='kategori') 
                                i.fa.fa-table 
                                | Data Kategori
            